<form ng-submit="authCtrl.signup(credential)">
  <table>
    <tr>
      <td>
        <label for="input-username">Username</label>
      </td>
      <td>
        <input id="input-username" name="username" ng-model="credential.username">
      </td>
    </tr>
    <tr>
      <td>
        <label for="input-password">Password</label>
      </td>
      <td>
        <input id="input-password" type="password" name="password" ng-model="credential.password">
      </td>
    </tr>
    <tr>
      <td>
        <label for="input-retype-password">Password</label>
      </td>
      <td>
        <input id="input-retype-password" type="password" name="retype-password" ng-model="credential.password">
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <button type="submit">Signup</button>
      </td>
    </tr>
  </table>
</form>
