<div class="" ng-controller="UserCenter as userCenter">
  <h3 class="text-danger">登录</h3>
  <form class="form-inline" style="margin-bottom:20px;">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="user name" ng-model="credential.username">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="password" ng-model="credential.password">
      </div>
      <div class="input-group">
        <span class="btn btn-primary" ng-click="userCenter.localLogin(credential)" style="cursor:pointer;">Login</span>
      </div>
    </div>
  </form>
  <button ng-click="userCenter.authenticate('github')" class="btn btn-primary">Sign in with GitHub</button>
  <button ng-click="userCenter.authenticate('wechat')" class="btn btn-primary">Sign in with WeChat</button>
</div>
