<div class="" ng-controller="AuditorAppInfo as auditorAppInfo">
  <h3 class="text-danger">应用详情</h3>
  <p class="well">
    应用名称：{{auditorAppInfo.app.app.name}}<br>
    作者：{{auditorAppInfo.app.app.developer.name}}<br>
    版本：{{auditorAppInfo.app.app.auditorLatestVersion.appPackage.version}}<br>
    图标：{{auditorAppInfo.app.app.icon}}<br>
    Flow：{{auditorAppInfo.app.app.auditorLatestVersion.appPackage.flow}}<br>
  </p>
  <div class="form-group">
    <button type="button" name="button" class="btn btn-default" ng-click="auditorAppInfo.commit('reviewPass')">通过</button>
    <button type="button" name="button" class="btn btn-danger" ng-click="auditorAppInfo.commit('reviewFail')">不通过</button>
  </div>
  <h3 class="text-danger">历史版本</h3>
  <ul class="list-group">
    <li class="list-group-item"
    ng-repeat="appPackage in auditorAppInfo.appPackages"
    data-id="appPackage.id"
    style="cursor:pointer"
    ui-sref="auditorHistoryVersion({id:appPackage.app.id,version:appPackage.id})">
     {{appPackage.version}}
    </li>
  </ul>
</div>
